In [1]:
import os
import psycopg2 as ps
import pandas as pd

In [33]:
import pyodbc
server = 'gen10-data-fundamentals-22-02-sql-server.database.windows.net'
database = 'guinea-pigs-database'
username = 'gPigs'
password = 'GuineaPigs!'
driver='{SQL Server}'

cnxn = pyodbc.connect('DRIVER='+driver+';SERVER='+server+';PORT=1433;DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = cnxn.cursor()
cursor.execute("SELECT * FROM DL")
rows = cursor.fetchall()
c = [column[0] for column in cursor.description]
ndf_DL = pd.DataFrame([tuple(t) for t in rows], columns = c) 
ndf_DL

,SBA Physical Declaration Number,SBA EIDL Declaration Number,SBA Disaster Number,Damaged Property City Name,Damaged Property Zip Code,Damaged Property County/Parish Name,Total Verified Loss,Verified Loss Real Estate,Verified Loss Content,Total Approved Loan Amount,Approved Amount Real Estate,Approved Amount Content,Approved Amount EIDL,Year,State
0,14021,14022.0,CA-00221,ESCONDIDO,92029.0,SAN DIEGO,9470.0,0.0,9470.0,9500.0,0.0,9500.0,0.0,2014,California
1,11430,11431.0,TX-00308,SAN LEON,77539.0,GALVESTON,19503005.0,14532827.0,4970178.0,3420800.0,2344400.0,751200.0,325200.0,2008,Texas
2,14334,14335.0,TX-00447,HOUSTON,77035,HARRIS,356965.0,350090.0,6875.0,357000.0,350100.0,6900.0,0.0,2015,Texas
3,11430,11431.0,TX-00308,SAN LEON,77539.0,HARRIS,2500.0,0.0,2500.0,3900.0,0.0,2500.0,1400.0,2008,Texas
4,14021,14022.0,CA-00221,SAN MARCOS,92078.0,SAN DIEGO,51474.0,51474.0,0.0,0.0,0.0,0.0,0.0,2014,California
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,11430,11431.0,TX-00308,SABINE PASS,77655.0,JEFFERSON,1134153.0,1004462.0,129691.0,442900.0,437400.0,3900.0,1600.0,2008,Texas
1996,11430,11431.0,TX-00308,SACUL,75788.0,NACOGDOCHES,4546.0,3146.0,1400.0,0.0,0.0,0.0,0.0,2008,Texas
1997,11430,11431.0,TX-00308,SAN LEON,77058.0,GALVESTON,114700.0,0.0,114700.0,54300.0,0.0,39700.0,14600.0,2008,Texas
1998,11430,11431.0,TX-00308,SAN LEON,77518.0,GALVESTON,47618.0,43868.0,3750.0,0.0,0.0,0.0,0.0,2008,Texas
1999,11430,11431.0,TX-00308,SAN LEON,77531.0,GALVESTON,76767.0,76767.0,0.0,0.0,0.0,0.0,0.0,2008,Texas